button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  width: 100%;
  margin: 0 auto;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

header {
  border-bottom: 1px solid #ececec;
  width: 100%;
  margin: 0 auto;
  background-color: var(--primery-bg-color);
}

main {
  width: 100%;
  margin: 0 auto;
  background-color: var(--primery-bg-color);
}

footer {
  width: 100%;
  margin: 0 auto;
}



