.logo {
    color: #000000;

    font-family: Raleway, cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    &-heading {
        color: var(--accent-text-color);
    }
}